
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* PANTALLA MAIN*/
.header-clientes {
    background-color: var(--main-color);
    box-shadow: 0px 3px 5px rgb(105, 105, 105);
    padding:10px 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    font-size:1.5rem;
    align-items:center;
    font-weight:bold;
    position:relative;
    box-sizing: border-box;
    min-width: 1000px;
}

.left-side-header {
    display:flex;
    align-items:center;
    flex-wrap: wrap;
}

.links-image {
    display:flex;
    align-items:center;
    color:black;
    cursor:pointer;
}

.links-image img {
    margin-right: 10px;
}

.logo, .sucursal-button, .productos-button {
    margin-right: 30px;
}

/* DROPDOWN */

.dropdown-products {
    display:none;
    position:absolute;
    width:203px;
 }

 .productos-button:hover .dropdown-products{
    display:block;
}

 .dropdown-item {
    font-size: 1.2rem;
    position:relative;
    opacity: 0;
    background-color:var(--main-color);
    animation-name:dropdown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-bottom:1px solid var(--secondary-color);
    border-top:1px solid var(--secondary-color);
    padding-top:10px;
    z-index: 1;
 }
 
 @keyframes dropdown {
    0% {
        opacity:0;
        bottom:25px;
    }
    100% {
        opacity:1;
        bottom:0px;
    }
 }

.dropdown-item:hover {
    background-color:var(--secondary-color);
}

.a1 {
    animation-delay: 0.05;
}

.a2 {
     animation-delay: 0.10s;
 }

.a3 {
    animation-delay: 0.15s;
}

.a4 {
    animation-delay: 0.20s;
}
/* Elegir Sucursal*/

.image-container{
    position:absolute;
    bottom:10px;
    left:0;
}
.sucursal-body {
    height:100%;
    width:100%;
}

.circle{
    position:absolute;
    top:20vh;
    right:7vw;
    background-color:var(--third-color);
    width: 500px;
    height: 500px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    opacity:0.9;
    box-shadow: 0px 0px 10px rgb(105, 105, 105);
}
.form-sucursal {
    text-align: center;
}

.form-title {
    margin-top: 100px;
    font-size:1.7rem;
}

.form-single-input {
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 80%;
}

.next-button {
    margin-top: 50px;
    padding:5px;
    width: 10rem;
    font-size: 1.7rem;
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    color:white;
    font-weight:bold;
    cursor: pointer;
    transition: transform 0.1s;
}

.next-button:hover{
    transform:scale(1.1);
    transition: transform 0.1s;
}

/* MAIN */

.sucursal-title {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.7rem;
    font-weight: bold;
}

.carousel-container {
    margin-top:10px;
    width:100%;
    min-width:1000px;
    min-height: 200px;
    height: 40vh;
    position:relative;
    overflow:hidden;
}

.carousel-button-container {
    display:flex;
    justify-content: space-between;
    position:relative;
    width:100%;
    top: 40%;
    padding:0 25px;
    box-sizing: border-box;
}

.carousel-button {
    cursor:pointer;
    background:none;
    border:none;
    transition: transform 0.3s;
    outline:none;
}

.carousel-button:hover {
    transform:scale(1.2);
    transition: transform 0.3s;
}

.slides {
    width: 100%;
    height: 100%;
    position:absolute;
}

.prevSlide {
    animation-name: toprev;
    animation-duration:1s;
    animation-fill-mode: forwards;
   
}

.nextSlide {
    animation-name: tonext;
    animation-duration:1s;
    animation-fill-mode: forwards;
 
}

@keyframes tonext {
    0% {
        right: 0%;
      
    }
    100% {
        right: 100%;
    }
}

@keyframes toprev {
    0% {
        left: 0%;
     
    }
    100% {
        left: 100%;
    }
}

.products-container {
    padding: 10px 30px;
    min-width: 1000px;
    width:100%;
    min-height: 200px;
    display:flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    position:relative;
    overflow:hidden;
}

.product {
    width: 12vw;
    min-width: 150px;
    text-align:center;
    border: 2px solid var(--button-color);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:1.3rem;
    margin: 0 10px;
    position:relative;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes appear {
    0% {
        opacity: 0;
    
    }
    100% {
        opacity: 1;
    }
}

.product-img {
    width:100%;
    height:150px;
}

.product-label {
    font-weight: bold;
}


.buy-container {
    margin-top: 5px;
}

.buy-container>button {
    width:100%;
    height:35px;
    font-size:1.3rem;
    border:none;
    border-radius:0 0 3px 3px;
    cursor:pointer;
    background-color:var(--button-color);
    color:white;
    font-weight: bold;
    transition: background-color 0.2s;
}

.buy-container>button:hover {
    background-color: var(--title-color);
    transition: background-color 0.2s;
}


.product-button-container {
    position:absolute;
    display:flex;
    justify-content:space-between;
    width:100%;
    padding: 0 20px;
    box-sizing: border-box;
    top:35%;
}

.cant-compras {
    position:absolute;
    top:50px;
    right:165px;
    background-color:var(--title-color);;
    color:white;
    border-radius:50%;
    padding:5px;
    font-weight:bold;
    text-align: center;
    min-width: 20px;

}

.page-footer{
    background-color:var(--main-color);
    padding-top:10px;
    width:100%;
    min-width: 1000px;
    flex-grow:1;
}
  .footer-copyright{
    text-align: center;
    background-color:var(--secondary-color);
    font-size: 25px;
    height:100%;
     
  }
