
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
    --main-color: #B5EECC;
    --secondary-color: #83C3A9;
    --third-color:#d5f5e8;
    --banner-color: #FEECC5;
    --second-nav:#FCBD34;
    --button-color: #F46D32;
    --letter-color:#0d242c;
    --form-color: #FCD06F;
    font-family: 'Barlow', sans-serif;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    
}

ul, li {
    list-style: none;
}

.custom-modal {
    display:none;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.img-success{
    text-align:center;
}

.modal-box {
    animation-name: slide-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin: 15% auto;
    background-color:white;
    padding:25px;
    border-radius:5px;
    width:25%;
    min-width: 250px;
}

@keyframes slide-down {
    0% {
        margin-top: -20%;
    }
    100% {
        margin-top:15%;
    }
}

.modal-message {
    margin-top:20px;
    text-align: center;
}
.modal-footer {
    margin-top:30px;
    text-align: center;
}

.ok-button {
    padding:10px;
    width:100px;
    border-radius: 5px;
    background-color: var(--main-color);
    border:none;
    cursor:pointer;
    font-size:1.3rem;
    font-weight: bold;
    transition: transform 0.2s;
}

.ok-button:hover{
    transform:scale(1.1);
    transition: transform 0.2s;
}


