
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
    padding: 0px;
    margin: 0px;
    --main-color: #B5EECC;
    --secondary-color: #83C3A9;
    --third-color:#d5f5e8;
    --banner-color: #FEECC5;
    --second-nav:#FCBD34;
    --button-color: #F46D32;
    --letter-color:#0d242c;
    font-family: 'Barlow', sans-serif;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color:inherit;
}


